* {
  padding: 0;
  margin: 0;
}
/*
.text-primary {
  color: #2d3c49;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.text-secondary {
  color: #7d97ad;
  font-family: 'Roboto', sans-serif;
} */

  .container {
    margin: 0.5em;
    font-family: 'Roboto', sans-serif;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.5em 0;
    border-bottom: 2px solid #7d97ad;
  }

  .header-content-logo {
    width: 40px;
    height: auto;
  }

  .header-content-title {
    text-align: right;
    color: #2d3c49;
    font-family: 'Roboto', sans-serif;
  }

  .header-content-title h1 {
    font-weight: 200;
  }

  .featured-image {
    max-width: 100%;
    height: auto;
    margin: 0.75em 0;
    /*TODO figure this out!*/
  }

  .featured-work {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .featured-work-title {
    color: #7d97ad;
    font-size: 18px;
  }

  .article {
    overflow: hidden;
    position: relative;
    margin: 4px 0;
    height: 150px;
  }

  .article img {
    object-fit: cover;
    width: 100%;
    height: inherit;
  }

  .article div {
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    padding: 10px;
  }

  .article-title {
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
  }

  .article-link {
    font-weight: 200;
    font-size: 12px;
  }
