/* TABLET STYLES*/

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.5em 0;
  border-bottom: 2px solid #7d97ad;
}

.header-content-title {
  text-align: right;
  color: #2d3c49;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.header-content-logo {
  width: 50px;
}

.header-content-name {
  font-weight: lighter;
  font-size: 38px;
}

.header-content-sub {
  font-weight: bold;
  font-size: 22px;
}

.featured-image {
  max-width: 100%;
  margin: 1.5em 0;
}

.featured-work-title {
  color: #7d97ad;
  font-size: 26px;
}

.featured-work {
  display: flex;
  justify-content: space-between;
}

.article {
  position: relative;
  margin: 0.5em;
  height: auto;
}

.article:first-child {
  margin-left: 0;
}

.article:last-child {
  margin-right: 0;
}

.article img {
  object-fit: cover;
  width: 100%;
}

.article div {
  color: #FFF;
  position: absolute;
  bottom: 0.25em;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  padding: 10px;
}

.article-title {
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-link {
  font-weight: lighter;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
